.movie-detail {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.detail-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background: #3498db;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.back-button:hover {
  background: #2980b9;
}
